extends layout

block content
  body.home
    section#hero.hero.d-flex.align-items-center
      
      .container
        .row
          .col-lg-7.col.md-12.hero-img.justify-content-left(data-aos='zoom-out' data-aos-delay='200')
            img.img-fluid#home1(src='/img/home.svg' alt='')
          .col-lg-5.col-md-12.d-flex.flex-column.justify-content-center
            h1(data-aos='fade-up') Convenient Borderless Transactions
            h2(data-aos='fade-up' data-aos-delay='400') Cut down on cost and time when transacting across the globe.
            
    section#two.two.d-flex.align-items-center
      
      .container.too
        
        .row
          .col-lg-4.d-flex.flex-column.justify-content-center
            h1(data-aos='fade-up') Bridging financial systems
            h2(data-aos='fade-up' data-aos-delay='400') Exchange your cash to crypto, crypto to cash and even one crypto token for the other using BitLipa
          .col-lg-8.two-img.justify-content-left(data-aos='zoom-out' data-aos-delay='200' )
            img.img-fluid#home2(src='/img/home23.png' alt='')
            

    section#three.three.d-flex.align-items-center
      .container
        .row
          .col-lg-7.three-img.justify-content-left.slider(data-aos='zoom-out' data-aos-delay='200')
            
            img.slide.visible.img-fluid#home3(src='/img/bitcoin.svg' alt='')
            //- .slide
            //-   img.img-fluid#home3(src='/img/tether-coin.svg' alt='')
            //- .slide
            //-   img.img-fluid#home3(src='/img/ethereum.svg' alt='')
           
          .col-lg-5.d-flex.flex-column.justify-content-center
            h1(data-aos='fade-up')  Multiple Currencies
            h2(data-aos='fade-up' data-aos-delay='400') Send, receive and store your assets in different wallets for easy access and use.

    section#four.four.d-flex.align-items-center
      .container
        .row
          .col-lg-5.d-flex.flex-column.justify-content-center
            h1(data-aos='fade-up') Swift Payments
            h2(data-aos='fade-up' data-aos-delay='400') Instant conversions of digital currency its cash value, protecting you against crypo volatility.
          .col-lg-7.four-img.justify-content-left(data-aos='zoom-out' data-aos-delay='200')
            img.img-fluid#home4(src='/img/Home2.svg' alt='')
        
        
      