
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;;
  color: #444444;
}

a {
  color: #00343D;
  text-decoration: none;
}

a:hover {
  color: #75C8AE;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #00343D;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #012970;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #00343D;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #FCB83F;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header.header-scrolled {
  color:#00343D;
  padding: 15px 0;
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Poppins", sans-serif;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation(Bottom -Nav)

*/

#navbar2{
  padding-left: 5%;
  padding-right: 5%;
  

}
#banner img{
  width: 30%;
}
#navbar2 li span{
  width:5%;
  color:#75C8AE;
}

#navbar2 li span{
  width:5%;
  color:#75C8AE;
}
.navbar.nav-scrolled ul li a,.navbar2.nav-scrolled span{
   color:#00343D;
}

/**
* Desktop Navigation 
*/


.navbar {
  padding: 0;
}

.navbar2 ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center; 
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color:#fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
  font-size: 20px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #75C8AE;
}



.navbar .getstarted:hover {
  color: #fff;
  background: #5969f3;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #fff;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #00343D;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:#75C8AE;
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #00343D;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #75C8AE;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #75C8AE;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/

.home::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(0,52,61);
  background: linear-gradient(0deg, rgba(0,52,61,1) 0%, rgba(69,139,128,1) 72%, rgba(108,188,165,1) 92%, rgba(117,200,174,1) 100%);
  position: absolute;
  top: 0;
  left: 0;
}





/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero,.three {
  width: 100%;
  height: 100vh;
  background-size: cover;
  
}
.three{
  background: rgb(0,52,61);
  background: linear-gradient(0deg, rgba(0,52,61,1) 0%, rgba(69,139,128,1) 72%, rgba(108,188,165,1) 92%, rgba(117,200,174,1) 100%);;
}

.hero h1,.three h1 {
  margin: 0;
  font-size: 70px;
  font-weight: 900;
  color: #f6f9ff;
}

.hero h2,.three h2 {
  color: #fafbff;
  margin:  15px 0 0 0;
  font-size: 22px;
}




.hero .hero-img,.three .three-img {
  text-align: left;
  
}


/*--------------------------------------------------------------
#   Section 2
--------------------------------------------------------------*/
/* .two{
  background-image: url('/home2.svg');
} */

.two,.four {
  width: 100%;
  height: 100vh;
  background: #fff;
 
}

.two h1,.four h1 {
  margin: 0;
  font-size: 70px;
  font-weight: 900;
  color: #FCB83F;
}

.two h2, .four h2{
  color: #00343D;
  margin: 15px 0 0 0;
  font-size: 22px;
}




/* .two .two-img,.four .four-img  {
  text-align: right;
  
} */



#home1{
  width:100%;
  height:100%;
  
}
#home2{
  width:100%;
  height:100%;
  
  
 
}
#home3{
  width:100%;
  height:100%;
  
}
#home4{
  width:100%;
  height:100%;
 
}

@media (min-width: 1024px) {
  .hero,.two,.three,.four {
    background-attachment: fixed;
   
  }
}

@media (max-width: 1024px) {
  #banner img{
    width: 60%;
  }
  .hero .hero-img img, .two .two-img img , .three .three-img img ,.four .four-img img   {
    width: 30%;
  }

  .hero h2  ,.two h2, .three h2, .four h2{
    margin-bottom: 5%;
  }
}

@media (max-width: 991px) {
  #banner img{
    width: 60%;
  }
  .hero,.two, .three, .four {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img ,.two .two-img, .three .three-img,.four .four-img {
    text-align: center;
    margin-top: 1px;
  }
  .hero .hero-img img, .two .two-img img , .three .three-img img ,.four .four-img img   {
    width: 80%;
  }
}

@media (max-width: 768px) {
  #banner img{
    width: 60%;
  }
  .hero, .two, .three, .four{
    text-align: center;
  }
  .hero h1 ,.two h1 , .three h1, .four h1{
    font-size: 32px;
  }
  .hero h2  ,.two h2, .three h2, .four h2{
    font-size: 16px;
  }
  .hero .hero-img img, .two .two-img img , .three .three-img img ,.four .four-img img  {
    width: 40%;
    
    
  }
}






