extends ../layout

block content

    section#bloghome.d-flex.align-items-center
    
        //- .container(style="color:white;text-align:center;")
        //-         .row
        //-             .col-lg-12.col-md-12.d-flex.flex-column.justify-content-center
        //-                 h1 Bitlipa Blog
        //-                 p Stay up to date with the latest stories and commentary brought to you by Bitlipa.

    
    section#mainblog.two
        .featured
            h1(style="text-align:center;") Bitlipa Blog
            p(style="text-align:center;") Stay up to date with the latest stories and commentary brought to you by Bitlipa.
            .container.other.col-md-12.col-lg-12.col-xl-9
                .card.mt-5(data-aos='zoom-out' data-aos-delay='100')
                    .row.no-gutters
                        .col-md-4
                            img.card-img(src='/img/Bg_blog_right.png' alt='...')
                        .col-md-8
                            .card-body.mt-5
                                h3.card-text The future of metaverse.
                                p.card-text
                                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.   
                                p.card-text
                                a.card-link.readmore(href='/spage') Read More
                                
                            .card-body
                                

                                p.card-text
                                    .mainpost.text-muted 
                                                 
                                        span
                                            span      
                                                a.btn-sm.btn-primary.card-link(href='#') NFTs
                                                a.btn-sm.btn-primary.card-link(href='#') Technology
                                                a.btn-sm.btn-primary.card-link(href='#') Metaverse

                                         

                                p.card-text
                                    .mainpost.dj.valign 
                            
                                        .media.mt-3
                                            img.mr-3.rounded-circle(src='https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png' alt='Generic placeholder image' style='max-width:40px')
                                            span 
                                                |        By  Theo Mwangi |
                                                small   Director of UI/UX

                                            
                                            .mainpost.mt-3.text-muted
                                                | Nov 14, 2021
                                                span 
                                                    |   &middot;
                                                span 
                                                    |   6 min read 


    //- secion.other.three
    //-     .container.col-md-10.col-lg-8.col-xl-7 
    //-         .post-preview
    //-             a(href='spage')
    //-                 h2.post-title Man must explore, and this is exploration at its greatest
    //-                 h4.post-subtitle Problems look mighty small from 150 miles up
    //-                 p.post-meta
    //-                     | Posted by
    //-                     a(href='#!')   Theo Mwangi
    //-                     |    on September 24, 2021
    //-         // Divider
    //-         hr.my-4
    //-         // Post preview
    //-         .post-preview
    //-             a(href='/spage')
    //-                 h2.post-title
    //-                     | I believe every human has a finite number of heartbeats. I don&apos;t intend to waste any of mine.
    //-                 p.post-meta
    //-                     | Posted by
    //-                     a(href='#!')   Theo Mwangi
    //-                     |    on September 18, 2021

    //-         // Divider
    //-         hr.my-4
    //-         // Post preview
    //-         .post-preview
    //-             a(href='/spage')
    //-                 h2.post-title
    //-                     | I believe every human has a finite number of heartbeats. I don&apos;t intend to waste any of mine.
    //-                 h4.post-subtitle Problems look mighty small from 150 miles up
    //-                 p.post-meta
    //-                     | Posted by
    //-                     a(href='#!')   Theo Mwangi
    //-                     |    on September 18, 2021

    //-         // Divider
    //-         hr.my-4


    //- .ae.y
    //-     .container
    //-         .fb.am.ax.fc.fd.fe.ff.fg.fh.fi.fj.fk.fl.fm.fn.fo.fp.fq.fr 
    //-             .fx.fy.fz.ga.gb.gc.gd.ge.gf.gg.gh.gi.gj.gk.gl.gm.gn.go.gp.gq.gr
    //-                 .ae.di
    //-                     .gs.di.ae.am.fb
    //-                     .gt.jd.y.je.gu.gv
    //-                         span.bv.hq.ft.fu.fv.fw 01
    //-                     .am.dj
    //-                         .hy.y
    //-                             .am.bq.ax
    //-                                 a(rel='noopener follow' href='/@sbearbergman?source=home---------0---------------------25db6dc5_fc26_42e7_844c_28174b063120-------7---')
    //-                                     img.y.jf.ha.hb(alt='S. Bear Bergman' src='https://miro.medium.com/fit/c/25/25/1*8K9RLvqxQGDFvp3kZzTMSQ.jpeg' width='20' height='20')
    //-                                 .jg.am.bq.fc
    //-                                     a.ay.az.ba.bb.bc.bd.be.bf.bg.bh.bi.bj.bk.bl.bm(rel='noopener follow' href='/@sbearbergman?source=home---------0---------------------25db6dc5_fc26_42e7_844c_28174b063120-------7---')
    //-                                         h4.bv.fs.hz.hs.jh.ji.jj.jk.jl.jm.jn.by.jo S. Bear Bergman
    //-                         .hy.y
    //-                             a.ay.az.ba.bb.bc.bd.be.bf.bg.bh.bi.bj.bk.bl.bm(rel='noopener follow' href='/@sbearbergman/please-come-and-be-fat-cc04ed4d8772?source=home---------0---------------------25db6dc5_fc26_42e7_844c_28174b063120-------7---')
    //-                                 div
    //-                                     h2.bv.hq.ef.bx.jh.jp.jj.jk.jq.jm.jn.fv.by Please Come And Be Fat
    //-                         p.bv.b.hz.bx.ia
    //-                             .am
    //-                                 | Nov 14
    //-                                 .jr.js.y(aria-hidden='true')
    //-                                     span.y(aria-hidden='true')
    //-                                     span.bv.b.bw.bx.ia &middot;
    //-                                     span.bv.b.hz.bx.ia 6 min read


    .otherposts.three
       
        .container.col-md-10.col-lg-8.col-xl-7
            

            p.titlepost.mb-3(data-aos='fade-up' data-aos-delay='100')
                | More Posts 
           
            
            .row 
                
                .col-md-6.mb-2(data-aos='zoom-in' data-aos-delay='200')
                    
                    .mainpost.dj.valign 
                            
                            .media
                                img.mr-3.rounded-circle(src='https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png' alt='Generic placeholder image' style='max-width:40px')
                                span 
                                    |   Coruhlu |
                                    small   Director of UI/UX


                    .hy.y  
                        a(rel='noopener follow' href='/@sbearbergman?source=home---------0---------------------25db6dc5_fc26_42e7_844c_28174b063120-------7---')
                            h6.post-title
                                | I believe every human has a finite number of heartbeats. I don&apos;t intend to waste any of mine.
                            h7.post-subtitle 
                                | Problems look mighty small from 150 miles up
                        p
                            .mainpost.text-muted 
                                | Nov 14,2021
                                span 
                                    |   &middot;
                                span 
                                    |   6 min read
                                span 
                                    |           |   NFTs, Blockchain, Technology

                