doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Bitlipa Africa
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='https://washucode.github.io/statics/assets/img/logo3.svg' rel='icon')
  link(href='https://washucode.github.io/statics/assets/img/logo3.svg' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files

  
  link(href='https://washucode.github.io/statics/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='https://washucode.github.io/statics/assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='https://washucode.github.io/statics/assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='https://washucode.github.io/statics/assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='https://washucode.github.io/statics/assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='https://washucode.github.io/statics/assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  link(href='https://washucode.github.io/statics/assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  //Main CSS File
  link(href='/css/style.css' rel='stylesheet')
block content
// End Footer
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='https://washucode.github.io/statics/assets/vendor/bootstrap/js/bootstrap.bundle.js')
script(src='https://washucode.github.io/statics/assets/vendor/aos/aos.js')
script(src='https://washucode.github.io/statics/assets/vendor/swiper/swiper-bundle.min.js')
script(src='https://washucode.github.io/statics/assets/vendor/purecounter/purecounter.js')
script(src='https://washucode.github.io/statics/assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='https://washucode.github.io/statics/assets/vendor/glightbox/js/glightbox.min.js')

script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')

// Template Main JS File
//- script(src='https://washucode.github.io/statics/assets/js/main.js')

script(src='/js/main.js')



