extends ../layout

block content


    section.blogheader.bloghome.two
        .masthead
            .container.position-relative.px-4.px-lg-5
                .row.justify-content-center
                    .col-md-2
                    .col-md-8
                        .post-heading.pt-5
                            h2.mt-5 Man must explore, and this is exploration at its greatest
                            h4.pt-2.subheading Problems look mighty small from 150 miles up
                            p.card-text
                                    .mainpost.dj.valign 
                            
                                        .media.mt-3
                                            img.mr-3.rounded-circle(src='https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png' alt='Generic placeholder image' style='max-width:40px')
                                            span 
                                                |        By  Theo Mwangi     
                                                span.text-muted   |  Director of UI/UX 
                                                span.text-muted 
                                                    |    on  Nov 14, 2021
                                                span.text-muted  
                                                    |   &middot;
                                                span.text-muted 
                                                    |     6 min read

                       
                    .col-md-2
    // Post Content
    article.three
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .col-md-10.col-lg-8.col-xl-8
                    .nailpic.mb-5
                        img(src='/img/pic1.jpg' alt='...' style='max-width:80%;')
                    p
                    | Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center &mdash; an equal earth which all men occupy as equals. The airman&apos;s earth, if free men make it, will be truly round: a globe in practice, not in theory.
                    p
                    | Science cuts two ways, of course; its products can be used for both good and evil. But there&apos;s no turning back from science. The early warnings about technological dangers also come from science.
                    p
                    | What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.
                    p
                    | A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That&apos;s how I felt seeing the Earth for the first time. I could not help but love and cherish her.
                    p
                    | For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.


                    p.blockquote.text-muted The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.


                    p
                    | For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.


                    p.blockquote.text-muted The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.
                    

                    .posttags 
                        p.pt-2
                            a.btn-sm.btn-primary.card-link(href='#') NFTs
                            a.btn-sm.btn-primary.card-link(href='#') Technology
                            a.btn-sm.btn-primary.card-link(href='#') Metaverse
                    // Divider
                    hr.my-4
           

    .otherposts.three

        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .container.col-md-10.col-lg-8.col-xl-8
                    

                    p.titlepost.mb-3(data-aos='fade-up' data-aos-delay='100')
                        | Related Posts 
                
                    
                    .row 
                        
                        .col-md-12.mb-2(data-aos='zoom-in' data-aos-delay='200')
                            
                            .mainpost.dj.valign 
                                    
                                    .media
                                        img.mr-3.rounded-circle(src='https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png' alt='Generic placeholder image' style='max-width:40px')
                                        span 
                                            |   Coruhlu |
                                            small   Director of UI/UX


                            .hy.y  
                                a(rel='noopener follow' href='/@sbearbergman?source=home---------0---------------------25db6dc5_fc26_42e7_844c_28174b063120-------7---')
                                    h6.post-title
                                        | I believe every human has a finite number of heartbeats. I don&apos;t intend to waste any of mine.
                                    h7.post-subtitle 
                                        | Problems look mighty small from 150 miles up
                                p
                                    .mainpost.text-muted 
                                        | Nov 14,2021
                                        span 
                                            |   &middot;
                                        span 
                                            |   6 min read
                                        span 
                                            |           |   NFTs, Blockchain, Technology

                        .col-md-12.mb-2(data-aos='zoom-in' data-aos-delay='200')
                            
                            .mainpost.dj.valign 
                                    
                                    .media
                                        img.mr-3.rounded-circle(src='https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png' alt='Generic placeholder image' style='max-width:40px')
                                        span 
                                            |   Coruhlu |
                                            small   Director of UI/UX


                            .hy.y  
                                a(rel='noopener follow' href='/@sbearbergman?source=home---------0---------------------25db6dc5_fc26_42e7_844c_28174b063120-------7---')
                                    h6.post-title
                                        | I believe every human has a finite number of heartbeats. I don&apos;t intend to waste any of mine.
                                    h7.post-subtitle 
                                        | Problems look mighty small from 150 miles up
                                p
                                    .mainpost.text-muted 
                                        | Nov 14,2021
                                        span 
                                            |   &middot;
                                        span 
                                            |   6 min read
                                        span 
                                            |           |   NFTs, Blockchain, Technology                