        <div class="fx fy fz ga gb gc gd ge gf gg gh gi gj gk gl gm gn go gp gq gr">
            <div class="ae di">
                <div class="gs di ae am fb">
                    <div class="gt jd y je gu gv">
                        <span class="bv hq ft fu fv fw">01</span>
                    </div>
                    <div class="am dj">
                    <div class="hy y">
                        <div class="am bq ax">
                                <a rel="noopener follow" href="/@sbearbergman?source=home---------0---------------------25db6dc5_fc26_42e7_844c_28174b063120-------7---">
                                    <img alt="S. Bear Bergman" class="y jf ha hb" src="https://miro.medium.com/fit/c/25/25/1*8K9RLvqxQGDFvp3kZzTMSQ.jpeg" width="20" height="20">
                                </a>
                                <div class="jg am bq fc">
                                    <a class="ay az ba bb bc bd be bf bg bh bi bj bk bl bm" rel="noopener follow" href="/@sbearbergman?source=home---------0---------------------25db6dc5_fc26_42e7_844c_28174b063120-------7---">
                                        <h4 class="bv fs hz hs jh ji jj jk jl jm jn by jo">S. Bear Bergman</h4>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="hy y">
                            <a class="ay az ba bb bc bd be bf bg bh bi bj bk bl bm" rel="noopener follow" href="/@sbearbergman/please-come-and-be-fat-cc04ed4d8772?source=home---------0---------------------25db6dc5_fc26_42e7_844c_28174b063120-------7---">
                                <div class="">
                                    <h2 class="bv hq ef bx jh jp jj jk jq jm jn fv by">Please Come And Be Fat</h2>
                                </div>
                            </a>
                        </div>

                        <p class="bv b hz bx ia">
                            <div class="am">Nov 14
                                <div class="jr js y" aria-hidden="true">
                                    <span class="y" aria-hidden="true">
                                        <span class="bv b bw bx ia">·</span>
                                    </span>
                                </div>
                                <span class="bv b hz bx ia">6 min read</span>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>