.four {
    width: 100%;
    height: 100vh;
    background: #fff;
   
  }
.four h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    color: #FCB83F;
  }
  
 .four h2{
    color: #00343D;
    margin: 15px 0 0 0;
    font-size: 20px;
  }
  
  #home4{
    width:80%;
    height:80%;
   
  }